#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=GStreamer webcam service
After=bb-wl18xx-wlan0.service
# After=network.target

[Service]
Type=forking
ExecStart=/home/debian/scripts/gstreamer_webcam.sh
GuessMainPID=no
RemainAfterExit=yes
StandardOutput=null
TimeoutSec=0

[Install]
WantedBy=multi-user.target
Alias=gstreamer_webcam.service
